{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      {{ with .Params.office }}
      <div class="col-lg-5 col-sm-6 mb-5">
        <h2 class="font-weight-bold mb-4">{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>
        <ul class="list-unstyled contact-list">
          <li class="mb-3"><a href="tel:{{ .mobile }}"><i class="tf-ion-ios-telephone mr-2"></i>
              {{ .mobile }}</a></li>
          <li class="mb-3"><a href="mailto:{{ .email }}"><i class="tf-ion-email mr-2"></i>{{ .email }}</a></li>
          <li class="mb-3"><i class="tf-ion-ios-location mr-2"></i>{{ .location }}
          </li>
        </ul>
      </div>
      {{ end }}
      <div class="col-lg-3 col-sm-6 mb-5">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14886.900517133565!2d79.0496598!3d21.123522!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa9a64586ca568074!2sIvLabs!5e0!3m2!1sen!2sfr!4v1601529357607!5m2!1sen!2sfr" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
      <!--       <div class="col-lg-3 col-sm-6 mb-5">
        {{ with .Params.opennig_hour }}
        <h2 class="font-weight-bold mb-4">{{ .title | markdownify }}</h2>
        <ul class="list-unstyled">
          {{ range .day_time }}
          <li class="mb-2">{{ . | markdownify }}</li>
          {{ end }}
        </ul>
        {{ end }}
      </div> -->
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h2 class="font-weight-bold mb-4">{{ .Title | markdownify }}</h2>
        <form action="{{ site.Params.contact_form_action }}" method="POST" class="row">
          <div class="col-lg-6 mb-3">
            <input type="text" class="form-control mb-2" id="name" name="name" placeholder="Your Name">
          </div>
          <div class="col-lg-6 mb-3">
            <input type="email" class="form-control mb-2" id="email" name="email" placeholder="Your Email">
          </div>
          <div class="col-12 mb-3">
            <textarea name="message" id="message" class="form-control mb-2" placeholder="Your Message"></textarea>
          </div>
          <div class="col-12 text-right">
            <button type="submit" value="send" class="btn btn-main btn-main-sm">{{ i18n "send" }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{{ end }}
