{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.subscription.enable }}
{{- with $data.homepage.subscription }}
<section class="call-to-action section bg-opacity" style="background-image: url('{{ .bg_image | absURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 text-center mx-auto">
        <h2 class="subheading text-white">{{ .title | markdownify }}</h2>
        <p class="text-white">{{ .content | markdownify }}</p>
        <div class="input-group">
<!--           <form action="{{ site.Params.mailchimp_form_action }}" method="post" class="w-100" name="mc-embedded-subscribe-form" id="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate> -->
              <form action="https://aidbots.us2.list-manage.com/subscribe/post?u=8f1a3d773f3410ea7a5cf4473&amp;id=895895f5b1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="w-100" target="_blank" novalidate>
            <input type="email" id="mce-EMAIL" value="" class="form-control" name="EMAIL" placeholder="{{ .placeholder }}"
              required>
            <button class="btn btn-main btn-submit" type="submit" value="Subscribe" id="mc-embedded-subscribe" name="subscribe">{{i18n "subscribe"}} </button>
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="{{ site.Params.mailchimp_form_name }}" tabindex="-1" value="">
            </div>
          </form>
        </div><!-- /input-group -->
      </div>
    </div>
  </div>
</section><!-- #call-to-action close -->
{{- end }}
{{- end }}
